@import url(../vendor/fonts/fonts.css);
/*
@font-face {
    /* font-family: 'Inter';
    src: url('/vendor/fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('fonts/EntezareZohoor2.svg') format('svg');
    font-weight: normal;
    font-style: normal; */

/* font-family: 'Inter'; */
/* src: url('./../vendor/fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'); */
/* font-weight: 900;
    font-style: normal;
}
*/
.body {
    /* min-width: 320px;
    max-width: 1280px; */
    /* НА ЭТОТ ПОМЕНЯТЬ:*/
    /* background: #2A2C2F; */
    /* background-color: #fff; */
    /* margin: 0 auto;
    padding: 0; */
    /* min-width: 320px;
    max-width: 1280px; */
    /* margin: 0;
    padding: 0; */
    background: #2A2C2F;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

.page {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 28px 0 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 48px 1fr 48px; */
    /* grid-template-areas: ". header ."
      ". main ."
      ". footer ."; */


    /* margin: 0 auto; */
    /* min-width: 320px;
    max-width: 1280px; */
    /*padding: 0; */
    /* background: #2A2C2F; */
    /* position: relative; */
    /* max-width: 1280px; */
    /* background: #2A2C2F; */
    /* УБРАТЬ! */
    /* color: #FFFFFF; */
    /* max-height: 6875px; */
    /* margin: 0 auto; */
    /* padding: 0;*/
    /* color: #FFFFFF; */
}

.header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.intro__title {
    width: 740px;
    /* в макете 690px */
    height: 58px;
    margin-top: 114px;
    /* margin-left: 148px; */

    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text {
    width: 690px;
    height: 208px;
    margin-top: 40px;
    /* margin-left: 148px; */

    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    width: 340px;
    /* 690px - в шаблоне */
    /* height: 429px; - в шаблоне */
    list-style-type: none;
    padding: 0;
    margin-top: 33px;
    /* margin-left: 148px; */

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}


@media all and (min-width: 1024px){

    .header__logo {
        width: 176px;
        height: 52px;
        margin-left: 48px;
        margin-top: 28px;
    }

    .header__lang {
        /* display: flex; */
        margin: 46px 18px 0 0;
        /* padding: 0; */
    }

    .header__lang-link {
        margin: 0 18px 0 0;
        /* padding: 0 18px 0 0;; */

        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
    }

    .header__lang-link_underline-none {
        text-decoration: none;
    }

    .lead {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        /* row-gap: 32px; */
    }

    .lead__title {
        width: 100%;
        height: 200px;
        /* padding-left: 280px; */
        padding-right: 27.34%;
        padding-left: 27.34%;
        /* width: 720px;
        height: 200px; */

        margin-top: 136px;
        /* margin-left: 280px; */

        font-weight: 900;
        font-size: 96px;
        line-height: 104%;
        text-align: center;
    }

    .lead__subtitle {
        width: 640px;
        height: 72px;
        margin-left: 320px;
        margin-top: 32px;

        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
    }

    .lead__image {
        max-width: 100%;
        /* max-height: 100%; */
        /* width: 984px;
        height: 615px; */
        margin-top: 64px;
        margin: 0 auto;
        /* margin-left: 148px;
        margin-right: 148px; */
    }

    .lead__caption {
        /* width: 158px;
        height: 14px; */
        margin-left: 148px;
        margin-right: 973px;
        /* margin-top: 8px; */


        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .intro {
        padding-left: 148px;
        /* padding-top: 114px; */
    }



    .photo-grid {
        /* position: relative; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-rows: auto;
        gap: 16px;
        /* row-gap: 16px;
        column-gap: 16px; */

        margin-top: 92px;
        margin-left: 48px;
        margin-right: 48px;
        padding: 0px 0px 50% 0px;
    }

    /* 1280 */
    .photo-grid__item {
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media all and (min-width: 1024px) and (max-width: 1279px) {

    /* @media all and (min-width: 1024px) and (max-width: 1280px) { */

    .header__lang-link {
        /* width: 29px;
        height: 28px; */
        /* margin-top: 46px; */

        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        /* text-align: right;
        color: #FFFFFF; */
    }

    /* .header__lang-link_underline-none {
        text-decoration: none;
    } */

    .intro {
        /* padding-left: 48px; */
    }


    .photo-grid {
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto; */
        /*grid-template-rows: 1fr 1fr 1fr 1fr; */
        gap: 14px;
        /* margin-top: 92px; */
    }

    .photo-grid__item {
        width: 300px;
        height: 225px;
    }

    .lead__title {
        width: 100%;
        height: 200px;
        padding-left: 152px;
        padding-right: 152px;

        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
    }

    .lead__subtitle {
        width: 640px;
        height: 72px;
        margin-left: 192px;
        margin-top: 32px;

        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .lead__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* width: 928px;
        height: 580px; */
        margin-left: 48px;
        margin-top: 56px;
    }

    .lead__caption {
        /* width: 158px; */
        /*height: 14px; */
        margin-top: 8px;

        /*1280*/
        /* 63.83% */
        /* margin-right: 817px; */
        margin-right: 63.83%;
        margin-left: 3.75%;
        /* 3.75% */
        /* margin-left: 48px; */

        /* max-width: 48px; */
        /* margin: 0;
        padding: 0;
        padding-left: 48px;
        padding-top: 8px; */

        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .intro__text {
        margin-top: 40px;
        margin-left: 48px;
        width: 690px;
        height: 208px;

        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }

    .intro__list {
        margin-top: 33px;
        margin-left: 48px;

        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
    }

}

@media all and (min-width: 768px) {
    .header__logo {
        width: 176px;
        height: 52px;
        margin-left: 24px;
        margin-top: 28px;
    }

    .header__lang {
        margin: 46px 24px 0 0;
    }

    .intro {
        padding-left: 24px;
    }

    .photo-grid {
        /* grid-template-columns: repeat(autofit minmax(1fr, 2fr)); */

        /* grid-template-columns: repeat(auto-fit, minmax(352px, 1fr)); */
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; */
        gap: 16px;
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;

    }

    .photo-grid__item {
        /* width: 352px;
        height: 264px; */
    }

    .lead__title {
        max-width: 720px;
        height: 200px;
        margin-left: 24px;
        margin-top: 128px;

        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
    }

    .lead__subtitle {
        width: 640px;
        height: 72px;
        margin-left: 64px;
        margin-top: 62px;

        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }

    .lead__image {
        /* width: 768px; */
        /* height: 480px; */
        margin-left: 0;
        margin-right: 0;
        margin-top: 56px;
    }

    .lead__caption {
        /* width: 158px;
        height: 14px; */
        /* margin-top: 8px;
        margin-right: 585px;
        margin-left: 24px; */


        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
        /* text-transform: uppercase; */
    }

    .intro {
        padding-left: 16px;
    }

    .intro__title {
        width: 1090px;
        height: 58px;
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 40px;

        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
    }

    .intro__text {
        width: 720px;
        height: 208px;
        margin-top: 40px;
        margin-left: 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    .intro__list {
        width: 720px;
        height: 90px;
        margin-left: 24px;

        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
    }

}


@media all and (max-width: 320px) {

    .header__logo {
        width: 142px;
        height: 42px;
        margin-left: 16px;
        margin-top: 16px;
    }

    .header__lang {
        margin: 30px 16px;
    }

    .header__lang-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }


    .photo-grid {
        /* grid-template-rows: 1fr; */
        /* grid-template-rows: repeat(autofit minmax(1fr, 2fr)); */
        /* grid-template-columns: auto; */
        gap: 12px;
        margin-top: 34px;
        margin-left: 16px;
    }

    .photo-grid__item {
        width: 288px;
        height: 216px;
    }

    .lead {
        margin: 0 auto;
    }

    .lead__title {
        width: 320px;
        /* width: 288px;
        height: 88px; */
        /* margin-top: 48px; */
        /* margin-left: 16px;
        margin-right: 16px; */
        padding-right: 16px;
        padding-left: 16px;

        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }

    .lead__subtitle {
        width: 288px;
        height: 40px;
        margin-left: 16px;
        margin-top: 16px;

        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .lead__image {
        /* width: 320px;
        height: 200px; */

        /* margin-left: -2px; */
        margin-top: 40px;
    }

    .lead__caption {
        /* width: 158px; */
        /* height: 14px; */
        /* margin-left: 16px;
        margin-right: 145px; */
        /* margin-top: 8px; */

        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1.5px;
    }

    .intro__title {
        width: 288px;
        height: 70px;
        margin-left: 16px;
        margin-top: 64px;

        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        width: 288px;
        height: 520px;
        margin-left: 16px;
        margin-top: 40px;

        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }

    .intro__list {
        width: 288px;
        height: 90px;
        margin-left: 16px;
        margin-top: 34px;

        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
    }

}
