@import url(../vendor/fonts/fonts.css);
/*
@font-face {
    /* font-family: 'Inter';
    src: url('/vendor/fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'),
    url('fonts/EntezareZohoor2.svg') format('svg');
    font-weight: normal;
    font-style: normal; */

/* font-family: 'Inter'; */
/* src: url('./../vendor/fonts/static/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'); */
/* font-weight: 900;
    font-style: normal;
}
*/

/* body {
  background-color: rgb(39, 15, 178);
} */

.page {
  /* min-width: 1280px; */
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;

  background: #2A2C2F;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__lang {
  margin: 46px 18px 0 0;
  color: #FFFFFF;
}

.header__lang-link {
  margin: 0 18px 0 0;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link_active {
  text-decoration: underline;
}



.lead {
  /* margin: 0; */
  /* padding: 0; */
}

.lead__title {
  width: 720px;
  height: 200px;
  margin: 10.625% 21.875% 2.65625% 21.875%;
  padding: 0;
  /* margin-top: 136px;
  margin-right: 280px;
  margin-bottom: 34px;
  margin-left: 280px;
  */

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 640px;
  /* height: 200px; */
  margin: 0 25% 0 25%;

  padding: 0;

  text-align: center;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin-left: 148px;
  margin-top: 114px;
}

.lead__caption {
  width: 159px;
  margin-left: 148px;
  margin-top: 8px;

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro__title {
  width: 690px;
  margin-top: 92px;
  margin-left: 11.5625%;
  margin-right: 11.5625%;
  padding: 0;

  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  width: 690px;
  height: 208px;
  margin-top: 40px;
  margin-left: 11.5625%;
  /* margin-left: 148px; */

  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  padding: 0;
}

.intro__list {
  width: 340px;
  /* 690px - в шаблоне */
  /* height: 429px; - в шаблоне */
  list-style-type: none;
  padding: 0;
  margin-top: 33px;
  margin-left: 11.5625%;

  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.photo-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin-top: 92px ;
  margin-left: 11.5625%;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}



@media screen and (max-width: 1024px) {

  .header__logo {
    width: 176px;
    height: 52px;
    margin-left: 48px;
    margin-top: 28px;
  }

  .header__lang {
    margin: 46px 18px 0 0;
  }

  .header__lang-link {
    margin: 0 18px 0 0;
    text-decoration: none;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .header__lang-link_active {
    text-decoration: underline;
  }

  .lead {
    /* display: flex;
        flex-flow: column nowrap;
        align-items: center; */
    /* row-gap: 32px; */
  }

  .lead__title {
    /* width: 100%; */
    /* height: 200px; */
    /* padding-left: 280px; */
    padding-right: 27.34%;
    padding-left: 27.34%;
    /* width: 720px;
        height: 200px; */

    margin-top: 136px;
    /* margin-left: 280px; */

    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
  }

  .lead__subtitle {
    /* width: 640px; */
    /* height: 72px; */
    margin-left: 320px;
    margin-top: 32px;

    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
  }

  .lead__image {
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* width: 984px;
        height: 615px; */
    margin-top: 64px;
    margin: 0 auto;
    /* margin-left: 148px;
        margin-right: 148px; */
  }

  .lead__caption {
    /* width: 158px;
        height: 14px; */
    margin-left: 148px;
    margin-right: 973px;
    /* margin-top: 8px; */

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .intro {
    padding-left: 148px;
    /* padding-top: 114px; */
  }


  .photo-grid {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: auto;
    gap: 16px;
    /* row-gap: 16px;
        column-gap: 16px; */

    margin-top: 92px;
    margin-left: 48px;
    margin-right: 48px;
    /* padding: 0px 0px 50% 0px; */
  }

  /* 1280 */
  .photo-grid__item {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
  }
}


@media screen and (max-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
    margin-left: 24px;
    margin-top: 28px;
  }

  .header__lang {
    margin: 46px 24px 0 0;
  }

  .header__lang-link {
    margin: 0 18px 0 0;
    text-decoration: none;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .intro {
    padding-left: 24px;
  }

  .photo-grid {
    grid-template-rows: repeat(autofill minmax(352px, 1fr));
    gap: 16px;
    margin: 88px 24px 0 24px;
  }

  .photo-grid__item {
    width: 288px;
    height: 216px;
  }

  .lead__title {
    max-width: 720px;
    height: 200px;
    margin-top: 48px;
    margin-right: 24px;
    margin-bottom: 32px;
    margin-left: 24px;

    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle {
    width: 640px;
    height: 72px;
    margin-left: 64px;
    margin-top: 62px;

    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .lead__image {
    /* width: 768px; */
    /* height: 480px; */
    margin-left: 0;
    margin-right: 0;
    margin-top: 56px;
  }

  .lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
  }

  .intro {
    padding-left: 16px;
  }

  .intro__title {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }

  .intro__text {
    /* width: 720px; */
    /* height: 208px; */
    margin-top: 40px;
    margin-left: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .intro__list {
    /* width: 720px; */
    /* height: 90px; */
    margin-left: 24px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

}


@media screen and (max-width: 320px) {

  .header__logo {
    width: 142px;
    height: 42px;
    margin-left: 16px;
    margin-top: 16px;
  }

  .header__lang {
    margin: 30px 16px;
  }

  .header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .photo-grid {
    grid-template-rows: repeat(autofill minmax(288px, 1fr));
    column-gap: 12px;
    row-gap: 16px;
    margin-top: 34px;
    margin-left: 16px;
  }

  .photo-grid__item {
    width: 288px;
    height: 216px;
  }

  .lead {
    margin: 0 auto;
  }

  .lead__title {
    /* width: 320px; */
    /* width: 288px;
        height: 88px; */
    /* margin-top: 48px; */
    /* margin-left: 16px;
        margin-right: 16px; */
    padding-right: 16px;
    padding-left: 16px;

    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }

  .lead__subtitle {
    /* width: 288px;
        height: 40px; */
    margin-left: 16px;
    margin-top: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .lead__image {
    /* width: 320px;
        height: 200px; */

    /* margin-left: -2px; */
    margin-top: 40px;
  }

  .lead__caption {
    /* width: 158px; */
    /* height: 14px; */
    /* margin-left: 16px;
        margin-right: 145px; */
    /* margin-top: 8px; */

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
  }

  .intro__title {
    /* width: 288px; */
    /* height: 70px; */
    margin-left: 16px;
    margin-top: 64px;

    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    /* width: 288px; */
    /* height: 520px; */
    margin-left: 16px;
    margin-top: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .intro__list {
    /* width: 288px; */
    /* height: 90px; */
    margin-left: 16px;
    margin-top: 34px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }

}
