.lead__title {
  /* max-width: 720px; */
  margin: 56px auto 0 auto;
  padding: 0;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 766px) {
  .lead__title {
    font-size: 66px;
  }
}


@media screen and (max-width: 465px) {
  .lead__title {
    margin-bottom: 16px;
    line-height: 44px;
    font-size: 40px;
  }
}


@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    line-height: 44px;
    font-size: 40px;
  }
}
